/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Abel', sans-serif; */

body{
  font-family: 'Julius Sans One', sans-serif;
  /* style:none; */
  /* testing: */
  /* background-color: red; */
}
h1{
  text-align: center;
  font-size: 50px;
  padding-bottom: 1000px;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 20px;
}
nav{
  position: fixed;
  top: 40px;
  left: 60px;
  padding: 20px;
  padding-right: 40px;
}

nav img{
  padding-left: 10px;
}

.hide{
  height:0;
  color:rgba(0, 0, 0, 0);
}

li{
  margin-left: -30px;
  padding-right: 12px;
  padding-bottom: 8px;
  list-style-type: none;
}

.tranbackground{
  background-color: rgba(255, 255, 255, 0.3);
}

.ea{
  animation-name: "ea1";
  animation-duration: 1s;
}

@keyframes ea1 {
  0%{
    padding-top: 60px;
    color:rgba(0, 0, 0, 0);
  }
  80%{
    color:rgba(0, 0, 0, 0.3);
  }
  100%{
    padding-top: 20px;
    color:rgba(0, 0, 0, 1);
  }
}

.moveleft{
  -webkit-animation-name:"mole";
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-name:"mole";
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes mole {
  0%{
    color:rgba(0, 0, 0, 1);
    padding-left: 100px;
  }
  80%{
    color:rgba(0, 0, 0, 0.3);
    padding-left: 50px;
  }
  0%{
    color:rgba(0, 0, 0, 0);
    padding-left: 0px;
    }
}

@keyframes mole {
  0%{
    color:rgba(0, 0, 0, 1);
    padding-left: 100px;
  }
  80%{
    color:rgba(0, 0, 0, 0.3);
    padding-left: 50px;
  }
  0%{
    color:rgba(0, 0, 0, 0);
    padding-left: 0px;
    }
}
